<div class="container">
  <div class="row comments-container">
    <div class="col-md-8 mx-auto">
      <div class="media g-mb-30 media-comment">
        <img
          class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15"
          src="https://bootdey.com/img/Content/avatar/avatar1.png"
          alt="Image Description"
        />
        <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30 rounded">
          <div class="g-mb-15">
            <h5 class="h5 g-color-gray-dark-v1 mb-0">Author</h5>
            <span class="g-color-gray-dark-v4 g-font-size-12"
              >created at 20-05-20201</span
            >
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit
            dolorem reiciendis quae iure est quisquam necessitatibus maiores
            quos voluptatibus explicabo. Assumenda accusamus officia blanditiis
            veniam quisquam ex impedit, repellat vel? Cumque ipsum tempora quia
            suscipit praesentium quisquam earum? Enim, quidem doloremque.
            Repellat nobis rerum quam. Culpa, maiores expedita facere numquam
            ducimus ipsam, corrupti adipisci ipsa error saepe tempora voluptatem
            laboriosam! Nostrum ullam earum suscipit odio totam qui dicta quas
            veritatis debitis esse laudantium deleniti nam et, blanditiis iste
            sunt, necessitatibus ea obcaecati voluptatum eum! Iure perspiciatis
            eligendi quos ea modi! Optio quasi accusantium adipisci officia ad
            odit ipsam ipsum modi, asperiores aspernatur neque quos illum eius,
            sint culpa, ipsa sapiente quibusdam dolore fugit. Dolores autem
            architecto alias ipsa beatae at. Mollitia, reprehenderit sunt amet
            ipsam eligendi corporis pariatur nesciunt. Esse dolore odio,
            assumenda aliquam, totam ipsam expedita quod molestiae consequatur
            culpa nemo impedit tenetur rerum facilis molestias accusamus
            consectetur. Voluptates.
          </p>
          <ul class="list-inline d-sm-flex my-0">
            <li class="list-inline-item g-mr-20 me-3">
              <a
                class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover d-flex align-items-center text-decoration-none"
                href="#!"
              >
                <span
                  class="material-icons-round g-pos-rel g-top-1 g-mr-3 me-1"
                >
                  thumb_up
                </span>
                120
              </a>
            </li>
            <li class="list-inline-item g-mr-20">
              <a
                class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover d-flex align-items-center text-decoration-none"
                href="#!"
              >
                <span
                  class="material-icons-round g-pos-rel g-top-1 g-mr-3 me-1"
                >
                  thumb_down
                </span>
                54
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8 mx-auto">
      <div class="media g-mb-30 media-comment">
        <img
          class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15"
          src="https://bootdey.com/img/Content/avatar/avatar2.png"
          alt="Image Description"
        />
        <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30 rounded">
          <div class="g-mb-15">
            <h5 class="h5 g-color-gray-dark-v1 mb-0">Author</h5>
            <span class="g-color-gray-dark-v4 g-font-size-12"
              >created at 20-05-20201</span
            >
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit
            dolorem reiciendis quae iure est quisquam necessitatibus maiores
            quos voluptatibus explicabo. Assumenda accusamus officia blanditiis
            veniam quisquam ex impedit, repellat vel? Cumque ipsum tempora quia
            suscipit praesentium quisquam earum? Enim, quidem doloremque.
            Repellat nobis rerum quam. Culpa, maiores expedita facere numquam
            ducimus ipsam, corrupti adipisci ipsa error saepe tempora voluptatem
            laboriosam! Nostrum ullam earum suscipit odio totam qui dicta quas
            veritatis debitis esse laudantium deleniti nam et, blanditiis iste
            sunt, necessitatibus ea obcaecati voluptatum eum! Iure perspiciatis
            eligendi quos ea modi! Optio quasi accusantium adipisci officia ad
            odit ipsam ipsum modi, asperiores aspernatur neque quos illum eius,
            sint culpa, ipsa sapiente quibusdam dolore fugit. Dolores autem
            architecto alias ipsa beatae at. Mollitia, reprehenderit sunt amet
            ipsam eligendi corporis pariatur nesciunt. Esse dolore odio,
            assumenda aliquam, totam ipsam expedita quod molestiae consequatur
            culpa nemo impedit tenetur rerum facilis molestias accusamus
            consectetur. Voluptates.
          </p>
          <ul class="list-inline d-sm-flex my-0">
            <li class="list-inline-item g-mr-20 me-3">
              <a
                class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover d-flex align-items-center text-decoration-none"
                href="#!"
              >
                <span
                  class="material-icons-round g-pos-rel g-top-1 g-mr-3 me-1"
                >
                  thumb_up
                </span>
                120
              </a>
            </li>
            <li class="list-inline-item g-mr-20">
              <a
                class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover d-flex align-items-center text-decoration-none"
                href="#!"
              >
                <span
                  class="material-icons-round g-pos-rel g-top-1 g-mr-3 me-1"
                >
                  thumb_down
                </span>
                54
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8 mx-auto">
      <div class="media g-mb-30 media-comment">
        <img
          class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15"
          src="https://bootdey.com/img/Content/avatar/avatar3.png"
          alt="Image Description"
        />
        <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30 rounded">
          <div class="g-mb-15">
            <h5 class="h5 g-color-gray-dark-v1 mb-0">Author</h5>
            <span class="g-color-gray-dark-v4 g-font-size-12"
              >created at 20-05-20201</span
            >
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit
            dolorem reiciendis quae iure est quisquam necessitatibus maiores
            quos voluptatibus explicabo. Assumenda accusamus officia blanditiis
            veniam quisquam ex impedit, repellat vel? Cumque ipsum tempora quia
            suscipit praesentium quisquam earum? Enim, quidem doloremque.
            Repellat nobis rerum quam. Culpa, maiores expedita facere numquam
            ducimus ipsam, corrupti adipisci ipsa error saepe tempora voluptatem
            laboriosam! Nostrum ullam earum suscipit odio totam qui dicta quas
            veritatis debitis esse laudantium deleniti nam et, blanditiis iste
            sunt, necessitatibus ea obcaecati voluptatum eum! Iure perspiciatis
            eligendi quos ea modi! Optio quasi accusantium adipisci officia ad
            odit ipsam ipsum modi, asperiores aspernatur neque quos illum eius,
            sint culpa, ipsa sapiente quibusdam dolore fugit. Dolores autem
            architecto alias ipsa beatae at. Mollitia, reprehenderit sunt amet
            ipsam eligendi corporis pariatur nesciunt. Esse dolore odio,
            assumenda aliquam, totam ipsam expedita quod molestiae consequatur
            culpa nemo impedit tenetur rerum facilis molestias accusamus
            consectetur. Voluptates.
          </p>
          <ul class="list-inline d-sm-flex my-0">
            <li class="list-inline-item g-mr-20 me-3">
              <a
                class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover d-flex align-items-center text-decoration-none"
                href="#!"
              >
                <span
                  class="material-icons-round g-pos-rel g-top-1 g-mr-3 me-1"
                >
                  thumb_up
                </span>
                120
              </a>
            </li>
            <li class="list-inline-item g-mr-20">
              <a
                class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover d-flex align-items-center text-decoration-none"
                href="#!"
              >
                <span
                  class="material-icons-round g-pos-rel g-top-1 g-mr-3 me-1"
                >
                  thumb_down
                </span>
                54
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
