<div class="js-profile-container">
  <div class="card mx-auto shadow-sm" style="width: 18rem">
    <img
      src="https://i.imgur.com/7yUvePI.png"
      class="card-img-top rounded"
      alt="avatar"
    />
    <div class="card-body vstack gap-2">
      <h4 class="card-title mb-0">Peter Parker</h4>
      <p class="card-text mb-0">Marvel Comics</p>
      <strong class="card-text text-muted mb-0">spider-man</strong>

      <ul class="list-group mb-2">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          Followers
          <span class="badge bg-secondary rounded-pill">345</span>
        </li>
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          Public repos
          <span class="badge bg-secondary rounded-pill">35</span>
        </li>
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          Likes
          <span class="badge bg-secondary rounded-pill js-badge-likes"
            >100000</span
          >
        </li>
      </ul>
      <p>
        <small>created at: <span class="js-created-at">2020-01-01</span></small>
      </p>
      <a
        href="https://google.com"
        target="_blank"
        rel="noopener noreferrer"
        class="btn btn-secondary"
        >Go to profile</a
      >
    </div>
  </div>
</div>
