<nav class="navbar navbar-light bg-light shadow-lg rounded p-4">
  <div class="container">
    <button
      type="button"
      class="btn btn-secondary d-flex align-items-center p-2 rounded-circle"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      <span class="material-icons-round"> add </span>
    </button>

    <a class="navbar-brand d-flex align-items-center m-0" href="#">
      <span class="material-icons-round"> contactless </span>
      <span class="h3 m-0 ms-2 fw-bold">Contacts App</span>
    </a>

    <form class="js-search-form">
      <input
        class="form-control me-2 js-search"
        type="search"
        placeholder="Search"
        aria-label="Search"
        name="search"
      />
    </form>
  </div>
</nav>
